body { 
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*-------------------header-------------------*/

.header {
    background: #FFFFFF;
}
.header-navigation {
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.word-studio-1 {
    color: #000000;
}
.header-list {
}
.list {
}
.header-item {
}
.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; 
}
.homepage {
    color: #2196F3;
}

.link {
}

.header-mail {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-tel {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/*-------------------hero-------------------*/
.main-list {
}
.main-item {
}

.main-btn {
    background: #F5F4FA;
    border-radius: 4px;
}

.main-btn-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.project-list {
}

.project-img {
}
.project-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}
.project-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}












/*-------------------footer-------------------*/

.c {
    background: #2F303A;
}

.word-studio-2 {
    color: #FFFFFF;
}

.c-list {
}

.c-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.c-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
