body { 
  font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*-------------------header-------------------*/

.header {
    background: #FFFFFF;
}
.header-navigation {
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    cursor: pointer;
}

.word-studio-1 {
    color: #000000;
}
.header-list {
}
.list {
}
.header-item {
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer; 
}

.portfolio {
    color: #2196F3;
}

.header-mail {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover {
  color: #2196F3;
  }

.header-tel:hover {
  color: #2196F3;
  }

/*-------------------hero-------------------*/

.body {
  color: #F5F5F5;
}

.main {
}

.filter-list {
  background-color: #FFFFFF;
}
.filter-item {
  width: 103px;
  height: 38px;
  border-radius: 4px;
}


.filter-btn:focus {
  width: 103px;
  height: 38px;
  background: #F5F4FA ;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #2196F3;
}

.btn-title {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.btn-title:hover {
  color: #F5F4FA;
  }

.all {
  background: #2196F3;
}

.all-title {
  color: #FFFFFF;  
}

.project-list {
  width: 370px;
  height: 404px;
}

.project-img {
  width: 370px;
  height: 294px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: #212121;
}

.other {

}

.project-type {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575; 
}

/*-------------------footer-------------------*/

.c {
    background: #2F303A;
}

.word-studio-2 {
    color: #FFFFFF;
}

.c-list {
}

.c-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.c-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}